body{
background-color:#B20000;
}

#UC{
font-family:Impact;
}

a{
color:black;
}


#enchant-stage{
text-align:center;
/*size*/
/*height:168px;
width:208px;*/
/*Asthetics*/
border: #1A1A1A 10px;
font-family:Impact;
font-size:25px;
/*positioning*/
/*margin:0px auto;
top:150px;
left:400px;*/
}